body {

    font-family:
        "Inter",
        "Poppins",
        sans-serif;

    line-height: 1.6;

    font-size: 16px;

    font-weight: 400;

}

h1 {

    font-size: 4rem;

    font-weight: 800;

}

h2 {

    font-size: 3rem;

    font-weight: 700;

}

h3 {

    font-size: 2rem;

    font-weight: 600;

}

p {

    font-size: 1rem;

    color: #cbd5e1;

}