.sidebar {

    width: 260px;

    min-height: 100vh;

    padding: 30px 20px;

    background:
        rgba(255,255,255,0.05);

    backdrop-filter: blur(12px);

    border-right:
        1px solid rgba(255,255,255,0.08);

}

.sidebar ul {

    list-style: none;

}

.sidebar li {

    padding: 14px;

    margin-bottom: 12px;

    border-radius: 12px;

    transition: 0.3s;

    cursor: pointer;

}

.sidebar li:hover {

    background:
        rgba(59,130,246,0.2);

}