ALTER TABLE public.projects ADD COLUMN interior_style TEXT DEFAULT 'Modern', ADD COLUMN priorities TEXT[] DEFAULT '{}';
ALTER TABLE public.project_requirements ADD COLUMN guest_room BOOLEAN DEFAULT false;
